@import url( https://fonts.googleapis.com/css?family=Raleway:200,600 );
body {
    font-family: 'Combo', cursive;
    background: linear-gradient(-5deg, #ee7752, #c89828, #23a6d5, #23d5ab);
	background-size: 900% 900%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.typeinfo {
margin: 2% 39%;
}
.centerblockshoes {
  width: auto;
  height: 900px;
  position: relative;
}
.imgs1{
  width: 400px;
  height: 400px;
  float: left;
  border-radius: 20px;
  box-shadow: 0 3px 20px -5px rgba(0,0,0,0.95);
  margin-left: 15%;
  position: absolute;
  filter: blur(2px);
}
.imgs1:hover {
  filter: blur(0px);
  transition: 1s;
  width: 415px;
  -webkit-transition: 1s ease; 
  -moz-transition: 1s ease; 
  -o-transition: 1s ease; 
  height: 415px;
}
.imgs2 {
  float: inherit;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 3px 20px -5px rgba(0,0,0,0.95);
  margin-left: 40%;
  position: absolute;
  filter: blur(2px);
}
.imgs2:hover {
  filter: blur(0px);
  -webkit-transition: 1s ease; 
  -moz-transition: 1s ease; 
  -o-transition: 1s ease; 
  width: 415px;
  height: 415px;
}
.imgs3 {
  width: 400px;
  height: 400px;
  float: right;
  border-radius: 20px;
  box-shadow: 0 3px 20px -5px rgba(0,0,0,0.95);
  margin-left: 65%;
  position: absolute;
  filter: blur(2px);
}
.imgs3:hover {
  filter: blur(0px);
  transition: 1s;
  width: 415px;
  -webkit-transition: 1s ease; 
  -moz-transition: 1s ease; 
  -o-transition: 1s ease; 
  height: 415px;
}

.btn {
  margin-left: 96%;
  margin-top: 300px;
  border: 0;
  position: absolute;
}

h1 {
    color: #ffffff;
  font-size: 87px;
  font-weight: 200;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}
.shadow[data-shadow=text] {
    color: #ffffff;
    text-shadow: 0 3px 10px rgba(0,0,0,0.95);
    font-size: 78px;
}
.shadow[data-shadow=box] {
    border-radius: 20px;
    box-shadow: 0 3px 20px -5px rgba(0,0,0,0.95);
  }


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
